body {
  background: url('https://i.ytimg.com/vi/HXT38GS1Hrw/maxresdefault.jpg');
}

h1 {
  color: #4682B4;
}

#universe {
  width: 50%;
  height: 50%;

}

.board {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.box {
  border: 1px solid grey;
  height: 2em;
  width: 33%;
  display: inline-block;
  background: yellow;
  margin-left: 3px;
}

.box:hover {
  background: lightgrey;
}

.board .row {

}
.board .top-row {
  width: 100%;
}

.board .middle-row {
  width: 100%;
}

.board .bottom-row {
  width: 100%;
}
