body {
  background: lightgrey;
}

h1 {
  color: #4682B4;
}

p {
  text-align: center;
  vertical-align: middle;
}

.board {
  width: 50%;
  height: 50%;
}

.box {
  border: 1px solid grey;
  height: 6em;
  width: 20%;
  display: inline-block;
  background: white;
  margin-left: -2px;
}

.top-row {

}

.middle-row {
}

.bottom-row {

}

.top-row .column-one{

}
