body {
  background: black;
}

h1 {
  color: rgb(255,215,0);
  font-family: 'Black Ops One', cursive;
  font-size: 50px;
  font-weight: bolder;
  margin-top: -1%;
  margin-bottom: -1%;
  margin-left: -1%;
  height: 1.5em;
  text-align: left;
  width: 100%;
  background: rgba(0,0,0,.5);
  padding-top: 1%;
  padding-left: 3%;
}

h2 {
  float:right;
  color: rgb(255,215,0);
  font-family: 'Black Ops One', cursive;  font-size: 65px;
  font-weight: bolder;
  margin-right: 2%;
  text-align: left;
  border: solid grey 1px;
  border-radius: 5px;
  padding: 1%;
  background: rgba(0,0,0,0.7);
}

h3 {
  color: rgb(255,215,0);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 0%;

}

h4 {
  font-size: 16px;
  color: green;
  font-family: 'Roboto', sans-serif;
  margin-top: -3%;

}

h5 {
 font-weight: bold;
 font-size: 1em;
 font-family: 'Black Ops One', cursive;

}


#start-menu-container {
  float:left;
  width: 50%;
  height: 80%;
  text-align: center;
  display: inline;
  background-color: rgba(0,0,0,-1);
  overflow: auto;
  position: absolute;
  padding-top: 1em;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 1%;
}

.welcome-menu {
  display:inline-block;
  height: 90%;
  width: 75%;
  background: rgba(119,136,153,0.5);
  padding: 5%;
  text-align: center;
  border: solid grey 2px;
  border-radius: 5px;
}

.welcome-box {
  height: 9em;
  vertical-align: middle;
  background: black;
  font-size: 50px;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  margin-bottom: 10%;
  overflow: auto;
  border: 2px grey solid;

}

#start-menu-container .welcome-menu .welcome-message {
  color: rgb(240,230,140);

}


#universe {
  margin-top:2%;
  width: 95%;
  height: 65%;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.galaxy {
  width: 33%;
  height: 25%;
  display: inline-block;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1px solid;
  border-color: rgba(255,215,0,0.7);
  border-radius: 5px;

  /*background: url('http://scienceblogs.com/startswithabang/files/2013/02/2xcluster.jpg');*/
  background: rgba(70,130,180,0.2);

}

.board {
  width: 25%;
  height: 25%;
  display: inline-block;
  border: dashed green 1px;
  border-radius: 3px;
  /*background: url('http://www.uncoverscience.com/files/2013/10/cool-wallpapers-earth-space-hd-wallpaper-of-galaxy-hdwallpaper-200x200.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  padding: 2%;
  margin-top: 1%;
  margin-left: 1%;
  background: black;
}


.box {
  border: 1px solid grey;
  border-radius: 5px;
  height: 2em;
  width: 25%;
  display: inline-block;
  background: rgba(0,0,0,-1);
  margin-left: 3px;
}

.box:hover {
  background: pink;
}

.board .row {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#name-entry {
  text-align:left;
  color: rgb(0,128,128);
  font-weight: bolder;
  font-size: 16px;
  width: 60%;
  height: 3em;
  font-size: 24px;
  margin-right: 5%;
  background: black;
  border: 2px solid;
  border-color: rgb(0,128,128);
  padding-left: 5%;
  margin-bottom: 2%;
}



::-webkit-input-placeholder {
   color: white;
   font-size: 24px;
   padding: -2%;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-size: 24px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-size: 24px;
}

input.enter-name-button {
width: 28%;
height: 3em;
display: inline-block;
background:black;
color:white;
font-size: 24px;
font-weight: bolder;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 2px solid;
border-color: rgb(0,128,128);
}
input.enter-name-button:hover {
background:red;
color:white;
}



#gamestate-bar {
  height: 7em;
  width: 90%;
  background: rgba(47,79,79,0.7);
  text-align: center;
  padding-top: 1em;
  display: block;
  margin-left: 5%;
  border: grey 1px solid;
  border-radius: 5px;
}


.info {
  display: inline-block;
  width: 28%;
  height: 80%;
  background: black;
  border: green 1px solid;
  border-radius: 5px;
}


.gameAlert {
  padding: 1px;
}
.gameAlert h5{
  color: white;
  font-size: 16px;
  font-family: 'Black Ops One', cursive;
}

.playerOne {
  float: left;
  color: lightgreen;
  display: block;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.playerTwo {
  float: right;
  height: 80%;
  margin-right: 1%;
  color: red;
  padding-left: 1%;
  padding-right: 1%;
}

.score {
  color: rgb(255,215,0);

}
.playerOne .name {
  height: 100%;
  width: 45%;
  float: left;
  display: inline-block;
}

.playerOne .score {
  height: 100%;
  width: 45%;
  float: right;
  display: inline-block;
}

.playerTwo .name {
  height: 100%;
  width: 33%;
  float: right;
  display: block;
}

.playerTwo .score {
  height: 100%;
  width: 33%;
  float: left;
  display: inline-block;
}

#game-over-menu-container{
  width: 80%;
  height: 80%;
  float: left;
  text-align: center;
  padding-top: 10%;
  margin-left: 10%;
}

.game-over-menu {
  background: rgba(0,0,0,0.7);
  height: 20em;
  width: 60%;
  margin-left: 18%;
  display: block;
  border: 1px red solid;
  padding: 3%;
  border-radius: 5px;

}

.game-over-box{
  height: 16em;
  display: block;
  padding-left: 25%;
  padding-top: 10%;
}

.game-over-message {
  color: green;
  width: 60%;
  font-family: 'Black Ops One', cursive;
}

.button {
  background: red;
}

input[type="radio"]{
  background: orange;
  display: inline-block;
}

input #playerOpponent {
  background-color: red;
  width: 50%;
}

.opponent-options {
  background-color: black;
  text-align: center;
  border: grey 1px solid;
}

.opponent-options input{
  width: 40%;
  height: 3em;
  background: white;
  color: black;
}
